.panda-bg-info{
    background-color: #fceae8;
}
.panda-bg-success{
    background-color: orchid;
}
.panda-button-bye-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.text-panda{
    color:#FF136F ;
}
.categories img{
    width: 100px;
}